img.Profile
{
    border-style:double;
    border-width: 5px;
    border-color:black;
}
img.certi
{
    border-style: double;
    border-width: 10px;
}
a:hover
{
    color: white;
    background-color: black;
}
div.First
{
    text-decoration: underline;
    color:white;
    padding: 10px;
    text-align: center;
    background:crimson;
  }
  div.code
{
    text-decoration: underline;
    color:white;
    padding: 10px;
    text-align: center;
    background:crimson;
} 
div.Experience
{
    text-decoration: underline;
    color:white;
    padding: 10px;
    text-align: center;
    background:crimson;
}
.University
{
    text-decoration: underline;
    color:white;
    padding: 10px;
    text-align: center;
    background:crimson;
}
